form {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	.inputContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;
        margin: 12px 0px;
		label {
			padding: 5px 0px;
			font-size: 1.1rem;
		}
		input {
			padding: 10px;
			outline: none;
		}
		textarea {
			padding: 10px;
			outline: none;
			height: 100px;
		}
	}
	button {
		margin-top: 25px;
		background-color: #0065fe;
		color: white;
		padding: 10px 20px;
		border-radius: 5px;
		width: 100%;
		border: none;
		transition: all 0.5s ease-in-out;
		&:hover {
			background-color: #0066febe;
		}
	}
}
